@mixin color() {
  .blue {
    color: #006d94;
  }
  .green {
    color: #01914A;
  }
  .red {
    color: #fb3f3d;
  }
  .gray, .gary {
    color: #a3a3a3;
  }
  .colfff {
    color: #fff;
  }

  .bg-red {
    background-color: #dd3932;
    color: #fff;
  }

  .bg-white {
    background-color: #fff;
  }

}